[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
django = "==3.2.*"
api-validator-python = {git = "https://github.com/elifesciences/api-validator-python.git",ref = "508c2684f39a424762c4168877d011c15c8c1dc8"}
# elife-api-validator -> pylint -> isort
# version 5 of isort breaks api. fix this in elife-api-validator
# - https://github.com/PyCQA/isort/issues/1273
isort = "~=4.2"
uwsgi = "~=2.0.20"
dj-database-url = "~=0.5"
# psycopg2 doesn't use semver.
# psycopg2 2.9.x isn't compatible with django 2.2:
# https://github.com/psycopg/psycopg2/issues/1293
"psycopg2-binary" = "==2.8.*"
djangorestframework = "~=3.11"
# used in Dockerfile and the smoke tests
# - https://github.com/andreif/uwsgi-tools
uwsgi-tools = "*"
jsonschema = "~=3.2"
elife-bus-sdk = "==0.0.7"
django-filter = "~=2.2"
python-json-logger = "~=0.1"
newrelic = "~=7.0"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-freezegun = "*"
